{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}Add Department{% endblock %}
{% block content %}

<div class="mb-3">
    <a href="javascript:history.back()" class="text-light" style="font-size: 1.5rem; text-decoration: none;" title="Go back">
        <i class="bi bi-arrow-left"></i>
    </a>
</div>

<div class="container d-flex align-items-center justify-content-center" style="min-height:80vh">
  <div class="col-md-6 col-lg-5">
    <div class="card bg-dark text-light shadow-lg border-0">
      <div class="card-body">
        <h2 class="card-title mb-4 text-center">Add Department</h2>



        <form method="POST">
          {% csrf_token %}
          <div class="mb-3">
            <label for="id_name" class="form-label">Department Name</label>
            {{ form.name|add_class:"bg-secondary" }}
          </div>

          <div class="d-grid">
            <button type="submit" class="btn btn-info py-2">➕ Add Department</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}